.App {
  font-family: sans-serif;
  text-align: center;
}

.grid {
  display: grid;
  margin: auto;
  border: 1px solid pink;
  max-width: 1000px;
  max-height: 1000px;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 25% 25% 25% 25%;
}

.grid__square {
  border: 1px solid pink;
}

.grid__square--pony-image {
  max-width: 96%;
  margin: 3px 2px 0 3px;
}

.grid__square--pony-image:hover {
  box-shadow: 2px 2px 5px;
}

.grid__square--pony-image:active {
  box-shadow: -2px -2px 4px;
  /* margin-top: 2px; */
}
